*{
    padding: 0;
    margin:0;
}
body
{
    background-color: rgb(21, 89, 92);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
header{
    background: url('../img/banner\ \(1\).jpg');
}
header h1{
    font-size: 2.5em;
    font-weight: normal;
  
}
#logo ,header h1{
    margin-bottom: 0px;
    display: inline-block;

}
nav{
    display: inline-block;
    width: 750px;
    text-align: right;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-right: 15px;
}
nav a{
font-size: 1.5em;
color: rgb(185, 62, 89)7;
text-decoration: none;
padding-bottom: 3px;
font: center;
}
nav a:hover{
    color:wheat;
}
article{
    padding: 10px;

}
section{
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 75%;
}
aside{
    float: right;
    width: 20%;
    border: 1px solid;
}